.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-primary-orange);
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-primary-orange);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: var(--dl-color-primary-orange);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}













.navigation-links-root-class-name12 {
  margin-top: var(--dl-space-space-halfunit);
}
.navigation-links-root-class-name13 {
  margin-top: var(--dl-space-space-halfunit);
}
.navigation-links-root-class-name14 {
  margin-top: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
